<ion-content>
  <img src="../../assets/img/wave.svg" alt="" />
  <div class="header">
    <h1>¡Hola!</h1>
  </div>

  <div class="title">
    <h1>Tus <span> vehiculos </span></h1>
  </div>

  <div class="card">
    <div class="profilevehicle" routerLink="/vehicleprofile">
      <ion-card>
        <img src="../../assets/img/coche.png" alt="" />

        <ion-card-content>
          <ion-card-subtitle>Chevrolet</ion-card-subtitle>
          <ion-card-title>Honda Acoord</ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="profilevehicle" routerLink="/vehicleprofile">
      <ion-card >
        <img src="../../assets/img/coche.png" alt="" />
        <ion-card-content>
          <ion-card-subtitle>Mini</ion-card-subtitle>
          <ion-card-title>Mini Cooper</ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="profilevehicle" routerLink="/vehicleprofile">
      <ion-card>
        <img src="../../assets/img/motobiker.png" alt="" />
        <ion-card-content>
          <ion-card-subtitle>Yamaha</ion-card-subtitle>
          <ion-card-title>MT 09</ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="profilevehicle" routerLink="/vehicleprofile">
      <ion-card>
        <img src="../../assets/img/motobiker.png" alt="" />
        <ion-card-content>
          <ion-card-subtitle>Yamaha</ion-card-subtitle>
          <ion-card-title>Boxer S</ion-card-title>
        </ion-card-content>
      </ion-card>
    
    </div>

  </div>

  <ion-fab horizontal="center" vertical="bottom">
    <div class="ion-add-car">
      <ion-button routerLink="/registervehicle">Añadir</ion-button>
    </div>
  </ion-fab>
</ion-content>
