<ion-content>
  <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>

  <div class="header">
    <img src="../../assets/img/login.jpg" alt="" />
    <h1>Inicia sesión.</h1>
    <p>Ingresa tu correo y contraseña para <br />hacer uso de nuestra app.</p>
  </div>
  <div class="form">
    <ion-input
      type="email"
      autocomplete="off"
      placeholder="Ingresa tu correo"
    ></ion-input>
    <ion-input
      type="password"
      autocomplete="off"
      placeholder="Ingresa tu contraseña"
      ><ion-icon name="eye-outline"></ion-icon
    ></ion-input>
  </div>
  <div class="button">
    <ion-button shape="round" routerLink="/welcome">Iniciar sesión</ion-button>
  </div>
  <div class="footer">
    <p>¿No tienes una cuenta? <a routerLink="/register">Crea una</a>.</p>
  </div>
</ion-content>
