<ion-content>
  <img src="../../assets/img/usersadmin.svg" alt="" class="imgs"/>
  <div class="header">
    <h1>Usuarios</h1>
    <div class="search">
      <input type="search" placeholder="Busca un usuario" />
      <ion-icon name="search-outline"></ion-icon>
    </div>
  </div>

  <div class="card">
    <div *ngFor="let item of listUsuarios" class="cards" [routerLink]="['/userprofile/'  + item.id_usuarios]"  >
      <ion-card >
        <ion-card-content >
          <ion-card-subtitle> ID {{ item.id_usuarios }}</ion-card-subtitle>
          <ion-card-title>{{ item.nombre }} {{ item.apellido }}</ion-card-title>
        </ion-card-content>

        <img src="../../assets/img/usuario.png" alt="" class="user" />
        <img src="../../assets/img/card.svg" alt="" class="img" />
      </ion-card>
    </div>
  </div>
</ion-content>
