<ion-content>
  <img src="../../assets/img/usersadmin.svg" alt="" class="imgs"/>
  <div class="header">
    <h1>Usuarios</h1>
    <div class="search">
      <input type="search" placeholder="Busca un usuario" />
      <ion-icon name="search-outline"></ion-icon>
    </div>
  </div>

  <div class="card">
    <div class="cards" routerLink="/userprofile">
      <ion-card >
        <ion-card-content >
          <ion-card-subtitle> ID 1</ion-card-subtitle>
          <ion-card-title>Stiven Benjumea</ion-card-title>
        </ion-card-content>

        <img src="../../assets/img/usuario.png" alt="" class="user" />
        <img src="../../assets/img/card.svg" alt="" class="img" />
      </ion-card>
    </div>
  </div>
</ion-content>
