<ion-content>
  <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
  <img src="../../assets/img/bg.svg" alt="" />
  <div class="header">
    <h1>Crea tu cuenta.</h1>
  </div>
  <form class="form">
    <ion-input type="name" placeholder="Primer nombre" autocomplete="off"></ion-input>
    <ion-input type="name" placeholder="Primer apellido" autocomplete="off"></ion-input>
    <ion-input type="email" placeholder="Ingresa tu correo" autocomplete="off"></ion-input>
    <ion-input type="password" placeholder="Ingresa tu contraseña" autocomplete="off"><ion-icon name="eye-outline"></ion-icon></ion-input>
    <ion-input type="password" placeholder="Confirma tu contraseña" autocomplete="off"><ion-icon name="eye-outline"></ion-icon></ion-input>
  </form>
  <div class="button">
    <ion-button expand="block" shape="round">
      <ion-label>Registrate</ion-label>
    </ion-button>
  </div>
  <div class="footer">
    <p>
      ¿Ya tienes una cuenta? <a href="" routerLink="/login">Inicia sesión</a>.
    </p>
  </div>
</ion-content>
